:global(.sidebar) {
  flex-basis: 15%;

  :global(.menu) {
    width: 100% !important;
  }
}

:global(.sidebar .item) {
  & :global(a) {
    color: black;
    width: 100% !important;
    display: block !important;
  }

  &:hover {
    background: rgba(109, 109, 109, 0.15) !important;

    & :global(a) {
      color: black !important;
    }
  }
}

.post {
  background: rgba(0, 0, 0, 0.52) !important;
  text-align: center;

  & :global(a) {
    color: white !important;
  }
}

.ad {
  height: 15em;
  border: 1px solid silver;
  text-align: center;
}
