.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: space-between;
  margin: -1%;
  padding: 0 2%;
}

.jobContainer {
  margin: 1%;
  margin-bottom: 1.5em;
  //flex-basis: 48%;
  flex-basis: 100%;
  padding: 0 !important;
  min-width: 35em;
}

.job {
  display: block;
  color: black;
  border: 1px solid silver;
  transition: all .15s ease-in-out;
  //flex-basis: 20%;

  &:hover {
    box-shadow: 0px 0px 3px 0px #7f7f7f;
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    color: black;
    border: 1px solid dimgrey;

    & .description .descriptionText {
      filter: blur(.8px);
    }

    & .viewFull {
      opacity: 1;
    }
  }
}

.jobPosition {
  padding: .7em;
  border-bottom: 1px solid silver;
  background: rgba(189, 189, 189, 0.08);
  display: flex;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    transform: translate3d( 0, 0, 0);
    float: left;
    margin: 0;
    max-width: 17em;
  }
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5.4em;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  transform: translate3d( 0, 0, 0);
  transition: .2s all ease-in-out;
}

.jobMeta {
  text-align: right;
  display: inline-block;
  flex: 1;
  color: #676767;

  & p {
    display: inline-block;
    padding: .5% 2%;
    margin: 0;

    & i {
      margin-right: .5em;
    }
  }
}

/*
.jobMeta {
  background: rgba(251, 251, 251, 0.57);
  border-bottom: 1px solid silver;
  text-align: right;

  & p {
    display: inline-block;
    padding: .5% 2%;
    margin: 0;

    & i {
      margin-right: .5em;
    }
  }
}
*/

.viewFull {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  font-size: 1.5rem;
  transition: .2s all ease-in-out;

  & button {
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
