.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1% 2%;
}

.aboutTitle {
  font-style: italic;
}

.city {
  display: inline-block;
  padding-bottom: .2em;
  position: relative;

  &::after {
    content: '';
    height: 5px;
    width: 100%;
    left: 0;
    background: #3d88e5;
    bottom: 0;
    position: absolute;
  }
}

.aboutDescription {
  padding: 1%;
}

:global(b) {
  font-weight: 600 !important;
}
